* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: sans-serif;
    /* box-sizing: border-box; */
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    box-sizing: border-box;
}

.card {
    outline: 3px solid lightgray;
    width: calc(50vw);
    background-color: rgb(249, 249, 249);
    border-radius: 5px 5px 0px 0px;
}

header {
    width: auto;
    background-color: rgb(23, 208, 214);
    padding: 40px 46px;
    outline: 3px solid rgb(23, 208, 214);
    border-radius: 5px;
}

#img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: -20px;
    outline: 3px solid lightgray;
    padding: 40px;
}